p {
  position: relative;
  left: 10px;
}

button {
  position: relative;
  left: 8px;
  margin-right: 4px;
}

.container {
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
}
